<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appzoro.milton">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.appzoro.milton.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.appzoro.milton.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name=".base.MiltonApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity android:name=".ui.view.activity.otpverification.OtpVerificationActivity"/>
        <activity
            android:name=".ui.view.activity.trackmap.TrackMapActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.dashboard.DashBoardActivity"
            android:label="@string/title_activity_dashboard"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.view.activity.message_inbox.MessageInboxActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.activity.dashboard.navabout.AboutActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.activity.dashboard.navtips.TipsActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.dashboard.navtrips.TripsActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.dashboard.navtermsorprivacy.TermsPrivacyActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.activity.onboarding.searchgroup.SearchGroupActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.onboarding.AllSetActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.onboarding.addingroup.AddStudentGroupActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.onboarding.addstudent.AddStudentActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.notification.NotificationsActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.parent_details.ParentDetailsActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.onboarding.OnBoardingActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.term.TermConditionActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.selectstop.SelectStopActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.group_details.GroupDetailsActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.login.LoginActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.view.activity.SplashActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.View" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.activity.forgotpassword.ForgotActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".network.FireBaseMessagingService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.multiinstance.enable"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.penwindow.enable"
            android:value="true" />
    </application>

</manifest>